/* HOMEPAGE  */

/* DASHBOARD */

/* FOOTER */

:root {
  --main: #0a7b79;
  --helper: #6db789;
}

/* HOMEPAGE */

.index-page-thumb {
  width: 150px;
  height: 150px;
}

.about-area {
  background-color: rgba(10,123,121,0.1);
}

.services-area {
  margin-top: 20px;
}

.about-area, .services-area {
  font-size: 20px;
  padding: 30px !important;
}


.about-area img, .services-area img {
  height: 100%;
  border-radius: 10px;
}

.about-area .btn, .services-area .btn {
  width: 100%;
  font-size: 20px;
}

@media screen and (max-width: 767px) {

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }

  

}

/* FOOTER */

footer {
  background-color: var(--main);
  color: white !important;
  margin-top: 20px;
}

footer a {
  color: white !important;
}

footer p.brand-text {
  font-size: 30px;
}

@media screen and (max-width: 768px ) {
  footer p.brand-text {
    word-wrap: break-word;
    font-size: 16px;
  }
}

.custom-alert {
  position: fixed;
  z-index: 10;
  width: 80%;
  top: 45%;
  left: 10%;
}

label.form-label {
  font-size: 16px;
}

/* DASHBOARD */

.dashboard .accordion-body {
  color: #000;
  font-size: 16px;
}

.dashboard .accordion-body span {
  border: 1px solid #000;
  border-radius: 5px;
  
  padding: 2px;
}

.single_request_page h5 {
  font-weight: bold;
}


/* MEDIA SIZES */
@media screen and (min-width: 992px) {
  footer .about-widget  {
    flex-direction: column;
    font-size: 20px;
  }

  footer a.footer-logo {
    margin-bottom: 20px;
  }

  header {
    background: var(--main);
     background-image: 
    linear-gradient(4deg, rgba(10,123,121,0.75) 30%, rgba(10,123,121,0.6) 45%, rgba(10,123,121,0.7) 100%),
    url("../img/awtoulag.jpg") !important;  
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
  }
}

